*.env
.env
.env.*
!.env.example
!.env.test
*.ex.*
ca/
ignore

## vscode
.vscode/

## .NET
project.lock.json
project.fragment.lock.json
artifacts/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## Node.js
node_modules/
.output
.vercel
.svelte-kit
.DS_Store
Thumbs.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
